/* @@author guekling */
.parameters code {
    background-color: rgb(173,216,230);
}

.noteblock.exampleblock > .content {
    background-color: rgb(231, 242, 250);
}

.noteblock-title::before {
    content: "\f06a";
    font-family: FontAwesome;
    color: rgb(0,191,255);
    font-size: 1.3em;
}

.noteblock-title {
    font-size: 1.3em;
    color: rgb(0,191,255);
    padding-right: 5px;
}

.format.exampleblock > .content {
    background-color: rgb(152,251,152);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: inline-block;
}

.format .exampleblock code {
    background-color: rgb(143,188,143);
}

.format-title::before {
    content: "\f11c";
    font-family: FontAwesome;
    padding-right: 5px;
}



/* .admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c} */